<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flashMapper">

	<select id="selectFlashBoardList" resultType="FlashBoard">
		SELECT F.FNO, F.USERID, F.FTITLE, F.FPEOPLE, F.FMEETDATE, F.FMEETTIME, F.FCONTENT, F.FCOUNT, F.FWRITER, F.FDATE, F.FMAPTITLE, F.FMAPX, F.FMAPY, F.FSTATUS, NVL(COUNT(FC.FCNO),0) "COMMENTCOUNT" 
		FROM FLASH_BOARD F
		LEFT JOIN FLASH_COMMENT FC ON(F.FNO = FC.FNO)
		WHERE F.FSTATUS = 'Y'
		GROUP BY F.FNO, F.USERID, F.FTITLE, F.FPEOPLE, F.FMEETDATE, F.FMEETTIME, F.FCONTENT, F.FCOUNT, F.FWRITER, F.FDATE, F.FMAPTITLE, F.FMAPX, F.FMAPY, F.FSTATUS
		ORDER BY F.FDATE DESC, F.FNO DESC
	</select>
	
	<select id="selectFlashBoardTotalContent" resultType="_int">
		SELECT COUNT(*) FROM FLASH_BOARD WHERE FSTATUS = 'Y'
	</select>
	
	<insert id="insertFlash" parameterType="FlashBoard">
		INSERT INTO FLASH_BOARD
		VALUES(SEQ_FNO.NEXTVAL, #{userId}, #{fTitle}, #{fPeople}, #{fMeetDate}, #{fMeetTime}, #{fContent},
		       #{fCount}, #{fWriter}, DEFAULT, #{fMapTitle}, #{fMapX}, #{fMapY}, DEFAULT)
	</insert>
	
	<select id="selectOneFlashBoard" parameterType="_int" resultType="FlashBoard">
		SELECT * FROM FLASH_BOARD
		WHERE FNO = #{fNo}
	</select>
	
	<update id="updateFlash" parameterType="FlashBoard">
		UPDATE FLASH_BOARD SET
		FTITLE = #{fTitle}, FPEOPLE = #{fPeople}, FMEETDATE = #{fMeetDate}, FMEETTIME = #{fMeetTime},
		FCONTENT = #{fContent}, FMAPTITLE = #{fMapTitle}, FMAPX = #{fMapX}, FMAPY = #{fMapY}
		WHERE FNO = #{fNo}
	</update>
	
	<delete id="deleteFlash" parameterType="_int">
		UPDATE FLASH_BOARD
		SET FSTATUS = 'N'
		WHERE FNO = #{fNo}
	</delete>
	
	<select id="search" parameterType="hashmap" resultType="FlashBoard">
		SELECT F.FNO, F.USERID, F.FTITLE, F.FPEOPLE, F.FMEETDATE, F.FMEETTIME, F.FCONTENT, F.FCOUNT, F.FWRITER, F.FDATE, F.FMAPTITLE, F.FMAPX, F.FMAPY, F.FSTATUS, NVL(COUNT(FC.FCNO),0) "COMMENTCOUNT" 
		FROM FLASH_BOARD F
		LEFT JOIN FLASH_COMMENT FC ON(F.FNO = FC.FNO)
		
		<bind name="myPattern" value="'%' + keyword + '%'" />
		
		<where>
			<if test="searchCondition == 'all'">
				(F.FWRITER LIKE #{myPattern} OR
				F.FMAPTITLE LIKE #{myPattern} OR
				F.FTITLE LIKE #{myPattern}) AND
				F.FSTATUS = 'Y'
			</if>
	 		<if test="searchCondition == 'fWriter'">
	 			F.FWRITER LIKE #{myPattern} AND
				F.FSTATUS = 'Y'
	 		</if>
	 		<if test="searchCondition == 'fMapTitle'">
	 			F.FMAPTITLE LIKE #{myPattern} AND
				F.FSTATUS = 'Y'
	 		</if>
	 		<if test="searchCondition == 'fTitle'">
	 			F.FTITLE LIKE #{myPattern} AND
				F.FSTATUS = 'Y'
	 		</if>
		</where>
		GROUP BY F.FNO, F.USERID, F.FTITLE, F.FPEOPLE, F.FMEETDATE, F.FMEETTIME, F.FCONTENT, F.FCOUNT, F.FWRITER, F.FDATE, F.FMAPTITLE, F.FMAPX, F.FMAPY, F.FSTATUS
		ORDER BY F.FDATE DESC, F.FNO DESC
	</select>
	
	<select id="selectFlashBoardSearchContents" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*) FROM FLASH_BOARD 
		
		<bind name="myPattern" value="'%' + keyword + '%'" />
		
		<where>
			<if test="searchCondition == 'all'">
				(FWRITER LIKE #{myPattern} OR
				FMAPTITLE LIKE #{myPattern} OR
				FTITLE LIKE #{myPattern}) AND
				FSTATUS = 'Y'
			</if>
	 		<if test="searchCondition == 'fWriter'">
	 			FWRITER LIKE #{myPattern} AND
				FSTATUS = 'Y'
	 		</if>
	 		<if test="searchCondition == 'fMapTitle'">
	 			FMAPTITLE LIKE #{myPattern} AND
				FSTATUS = 'Y'
	 		</if>
	 		<if test="searchCondition == 'fTitle'">
	 			FTITLE LIKE #{myPattern} AND
				FSTATUS = 'Y'
	 		</if>
		</where>
	</select>
	
	
</mapper>










