<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hotspotLikeMapper">

 	<select id="hotspotLikeCount" parameterType="_int" resultType="_int">
		SELECT COUNT (DISTINCT USERID)
		FROM HOTSPOT_LIKE
		WHERE HNO = #{hNo} AND GOOD = 'Y'
	</select>
	
	<select id="hotspotUnLikeCount" parameterType="_int" resultType="_int">
		SELECT COUNT (DISTINCT USERID)
		FROM HOTSPOT_LIKE
		WHERE HNO = #{hNo} AND GOOD = 'N'
	</select>

	<insert id="hotspotLikeInsert" parameterType="HotspotLike">
		INSERT INTO HOTSPOT_LIKE
		VALUES (#{hNo}, #{userId}, 'Y')
	</insert>
	
	<insert id="hotspotUnlikeInsert" parameterType="HotspotLike">
		INSERT INTO HOTSPOT_LIKE
		VALUES (#{hNo}, #{userId}, 'N')
	</insert>
	
	<select id="hotspotCheckSelect" parameterType="HotspotLike" resultType="_int">
		SELECT COUNT (*)
		FROM HOTSPOT_LIKE
		WHERE HNO = #{hNo} AND USERID= #{userId}
	</select>
	
	<select id="likeCheck" parameterType="HotspotLike" resultType="_int">
		SELECT COUNT (*)
		FROM HOTSPOT_LIKE
		WHERE HNO = #{hNo} AND USERID= #{userId} AND GOOD = 'Y'
	</select>
	
	<update id ="likeUpdate" parameterType="HotspotLike">
		UPDATE HOTSPOT_LIKE SET
		GOOD ='Y'
		WHERE HNO = #{hNo} AND USERID= #{userId}
	</update>
	
	
<!-- 	<select id="likeCheck" parameterType="HotspotLike" resultType="_int">
		SELECT COUNT (*)
		FROM HOTSPOT_LIKE
		WHERE HNO = #{hNo} AND USERID= #{userId} AND GOOD = 'N'
	</select> -->
	
	<select id="unlikeCheck" parameterType="HotspotLike" resultType="_int">
		SELECT COUNT (*)
		FROM HOTSPOT_LIKE
		WHERE HNO = #{hNo} AND USERID= #{userId} AND GOOD = 'N'
	</select>
	
	<update id ="unlikeUpdate" parameterType="HotspotLike">
		UPDATE HOTSPOT_LIKE SET
		GOOD ='N'
		WHERE HNO = #{hNo} AND USERID= #{userId}
	</update>
	
</mapper> 










