<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hotspotMapper">

 	<select id="HotspotPageList" resultType="HotspotBoard">
		SELECT HNO, H.USERID, H.HTITLE, H.HCONTENT, H.HWRITER, H.HCOUNT, H.HDATE, H.HSTATUS, H.HPREVIEW, NVL(SUM(DECODE(HL.GOOD, 'Y', 1,'N', 0)),0) "LIKECOUNT"
		FROM HOTSPOT_BOARD H
		FULL JOIN HOTSPOT_LIKE HL USING(HNO)
		WHERE H.HSTATUS = 'Y'
		GROUP BY HNO, H.USERID, H.HTITLE, H.HCONTENT, H.HWRITER, H.HCOUNT, H.HDATE, H.HSTATUS, H.HPREVIEW
		ORDER BY HNO DESC
	</select>

	<!-- 페이징 처리 ROWNUM ROWBOUNDS -->
 	<select id="selectBoardTotalContents" resultType="_int">
		SELECT COUNT(*)
		FROM HOTSPOT_BOARD
	</select>

	<insert id="hotspotInsert" parameterType="HotspotBoard">
		INSERT INTO HOTSPOT_BOARD(HNO, USERID, HTITLE, HCONTENT, HWRITER,
			HCOUNT, HDATE, HSTATUS, HPREVIEW)
		VALUES
		(SEQ_HNO.NEXTVAL,#{userId},#{hTitle},#{hContent},#{hWriter},
			0, DEFAULT, DEFAULT, #{hPreview}
			 )
		<!-- 전달한 board객체의 boardNo 프로퍼티에 결과값을 담는다. -->
		<!-- 1. --><!-- <selectKey keyProperty="boardNo" resultType="_int" order="AFTER">
					SELECT SEQ_BOARDNO.CURRVAL FROM DUAL 
					</selectKey> -->
	</insert>
	
	<select id="hotspotSelectOne" parameterType="_int" resultType="HotspotBoard">
		SELECT * 
		FROM HOTSPOT_BOARD
		WHERE HNO = #{hNo}
	</select>
	
	<update id ="hotspotUpdate" parameterType="HotspotBoard">
		UPDATE HOTSPOT_BOARD SET
		HTITLE = #{hTitle},
		HCONTENT = #{hContent}
		WHERE HNO = #{hNo}
	</update>
	
	<update id="hotspotDelete" parameterType="HotspotBoard">
		UPDATE HOTSPOT_BOARD SET
		HSTATUS = 'N'
		WHERE HNO = #{hNo}
	</update>
	
	<select id="search" parameterType="hashmap" resultType="HotspotBoard">
		SELECT * 
		FROM HOTSPOT_BOARD
	
		<bind name="myPattern" value="'%' + keyword + '%'" />
		
		<where>
			<if test="searchCondition == 'all'">
				(HWRITER LIKE #{myPattern} OR
				HTITLE LIKE #{myPattern}) AND
				HSTATUS = 'Y'
			</if>
	 		<if test="searchCondition == 'hWriter'">
	 			HWRITER LIKE #{myPattern} AND
				HSTATUS = 'Y'
	 		</if>
	 		<if test="searchCondition == 'hTitle'">
	 			HTITLE LIKE #{myPattern} AND
				HSTATUS = 'Y'
	 		</if>
		</where>
		ORDER BY HDATE DESC, HNO DESC
	</select>
	
	<select id="selectHotspotBoardSearchContents" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*)
		FROM HOTSPOT_BOARD
		
		<bind name="myPattern" value="'%' + keyword + '%'" />
		
		<where>
			<if test="searchCondition == 'all'">
				(HWRITER LIKE #{myPattern} OR
				HTITLE LIKE #{myPattern}) AND
				HSTATUS = 'Y'
			</if>
	 		<if test="searchCondition == 'hWriter'">
	 			HWRITER LIKE #{myPattern} AND
				HSTATUS = 'Y'
	 		</if>
	 		<if test="searchCondition == 'hTitle'">
	 			HTITLE LIKE #{myPattern} AND
				HSTATUS = 'Y'
	 		</if>
		</where>
	</select>
	
	 <select id="myList" parameterType="string" resultType="HotspotBoard">
		SELECT HNO, H.USERID, H.HTITLE, H.HCONTENT, H.HWRITER, H.HCOUNT, H.HDATE, H.HSTATUS, H.HPREVIEW, NVL(SUM(DECODE(HL.GOOD, 'Y', 1,'N', 0)),0) "LIKECOUNT"
		FROM HOTSPOT_BOARD H
		FULL JOIN HOTSPOT_LIKE HL USING(HNO)
		WHERE H.HSTATUS = 'Y' AND H.USERID = #{userId}
		GROUP BY HNO, H.USERID, H.HTITLE, H.HCONTENT, H.HWRITER, H.HCOUNT, H.HDATE, H.HSTATUS, H.HPREVIEW
		ORDER BY HNO DESC
	</select>
	
	<!-- 페이징 처리 ROWNUM ROWBOUNDS -->
 	<select id="myListTotalContents" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM HOTSPOT_BOARD
		WHERE USERID = #{userId}
	</select>
	
</mapper> 










