<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPlanMapper">

	<select id="selectMyPlanList" parameterType="string" resultType="Planner">
		SELECT PNO, P.USERID, PWRITER, P.TITLE, P.STARTDAY, P.ENDDAY, P.DESCRIBE, P.ACCOUNT, P.THEME, P.STATUS, AT.RENAMEDFILENAME, NVL(SUM(DECODE(PL.GOOD, 'Y', 1,' N', 0)),0) "LIKECOUNT"
		FROM PLANNER P
		LEFT JOIN PLANNER_LIKE PL USING(PNO)
		LEFT JOIN ATTACHMENT AT USING(PNO)
		WHERE P.USERID = #{userId}
		GROUP BY PNO, P.USERID, PWRITER, P.TITLE, P.STARTDAY, P.ENDDAY, P.DESCRIBE, P.ACCOUNT, P.THEME, P.STATUS, AT.RENAMEDFILENAME
		ORDER BY PNO DESC
	</select>
	
	<select id="selectMyPlanTotalContents" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM PLANNER P
		WHERE P.USERID = #{userId}
	</select>
	
	
</mapper>










