<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plannerMapper">

	<insert id="insertPlanner" parameterType="Planner">
		
		INSERT INTO PLANNER(PNO, USERID, PWRITER, TITLE, STARTDAY, ENDDAY, DESCRIBE, ACCOUNT, THEME, STATUS)
		VALUES (SEQ_PNO.NEXTVAL,#{userId},#{pWriter},#{title},#{startDay},#{endDay},#{describe},#{account},#{theme},#{status})
		<!-- <selectKey keyProperty="plannerNo" resultType="_int" order="AFTER"> SELECT SEQ_PNO.CURRVAL FROM DUAL </selectKey> -->
		<!-- 전달한 board객체의 boardNo 프로퍼티에 결과값을 담는다. -->
		<!-- <selectKey keyProperty="boardNo" resultType="_int" order="AFTER"> SELECT SEQ_BOARDNO.CURRVAL FROM DUAL </selectKey> -->
	</insert>
	
	
	
	<insert id="insertAttachment" parameterType="Attachment">
		<!-- 다른방식 -->
		<selectKey keyProperty="plannerNo" resultType="_int" order="BEFORE"> 
			SELECT SEQ_PNO.CURRVAL FROM DUAL 
		</selectKey> 
		INSERT INTO ATTACHMENT(ATTACHMENTNO, PNO, ORIGINALFILENAME,RENAMEDFILENAME) 
		VALUES (SEQ_ATTACHMENTNO.NEXTVAL, #{plannerNo}, #{originalFileName}, #{renamedFileName})
	</insert>
	
	<!-- 
	<update id="updateTitle" parameterType="Planner">
   		UPDATE PLANNER
   		<set>
   			TITLE = #{title}
   		</set>
   		WHERE USERID = #{userId}
   </update>
 	-->
	<!--  
	<select id="selectAttachmentList" parameterType="_int" resultType="Attachment">
		SELECT* FROM ATTACHMENT
		WHERE BOARDNO = #{boardNo}
	</select>
	-->
	
	<select id="selectOnePlanner" parameterType="_int" resultType="Planner">
		SELECT * FROM PLANNER
		WHERE PNO = (SELECT max(PNO) FROM PLANNER)
	</select>
	
	
	<insert id="setplan" parameterType="PlannerPart">
		INSERT INTO PLANNER_PART(PPNO, PNO, STARTTIME, ENDTIME, MAPTITLE, CATEGORY, MAPX, MAPY, MONEY, REASON) 
		VALUES (SEQ_PPNO.NEXTVAL, #{pNo}, #{startTime}, #{endTime}, #{mapTitle}, #{category}, #{mapX}, #{mapY}, #{money}, #{reason})
	</insert>
	
	<insert id="setPlanLike" parameterType="PlannerLike">
		INSERT INTO PLANNER_LIKE(PNO, USERID, GOOD) 
		VALUES (#{pNo}, #{userId}, #{good})
	</insert>
	
	<select id="selectPlanList" parameterType="_int" resultType="PlannerPart">
		SELECT * FROM PLANNER_PART
		WHERE PNO = #{pNo}
		ORDER BY STARTTIME ASC
	</select>
	
	<select id="selectPlannerPart" parameterType="_int" resultType="PlannerPart">
		SELECT * FROM PLANNER_PART
		WHERE PPNO = #{ppNo}
	</select>
	
	<select id="selectPlannerLike" parameterType="PlannerLike" resultType="PlannerLike">
		SELECT * FROM PLANNER_LIKE
		WHERE (PNO = #{pNo}) AND (USERID = #{userId})
	</select>
	
	<update id="updateStatus" parameterType="Planner">
      UPDATE PLANNER
      <set>
      	DESCRIBE=#{describe},
      	STATUS=#{status}
      </set>
      WHERE PNO = #{pNo}
   </update>
   
   <update id="updateTheme" parameterType="Planner">
      UPDATE PLANNER
      <set>
      	THEME=#{theme}
      </set>
      WHERE PNO = #{pNo}
   </update>
   
   <select id="thisPlanner" parameterType="_int" resultType="Planner">
		SELECT * FROM PLANNER
		WHERE PNO = #{pNo}
	</select>
	
	<delete id="deleteplan" parameterType="_int">
      DELETE FROM PLANNER_PART
      WHERE PPNO = #{ppNo}
   </delete>
   
   <update id="updatePlannerPart" parameterType="plannerPart">
      UPDATE PLANNER_PART
      <set>
      	STARTTIME=#{startTime},
      	ENDTIME=#{endTime},
      	MAPTITLE=#{mapTitle},
      	CATEGORY=#{category},
      	MAPX=#{mapX},
      	MAPY=#{mapY},
      	MONEY=#{money},
      	REASON=#{reason}
      </set>
      WHERE PPNO = #{ppNo}
   </update>
	
	<update id="updateGood" parameterType="PlannerLike">
      UPDATE PLANNER_LIKE
      <set>
      	GOOD=#{good}
      </set>
      WHERE (PNO = #{pNo}) AND (USERID = #{userId})
   </update>
   
   <select id="countLike" parameterType="PlannerLike" resultType="_int">
		SELECT COUNT(*) FROM PLANNER_LIKE
		WHERE (PNO = #{pNo}) AND (GOOD = 'Y')
	</select>
   
   <select id="countUnLike" parameterType="PlannerLike" resultType="_int">
		SELECT COUNT(*) FROM PLANNER_LIKE
		WHERE (PNO = #{pNo}) AND (GOOD = 'N')
	</select>
   
   <select id="getCategoryCount" parameterType="_int" resultType="CategoryCount">
		SELECT CATEGORY, COUNT(*) COUNT FROM PLANNER_PART
		WHERE PNO = #{pNo}
		GROUP BY CATEGORY
	</select>
   
</mapper>



